.text-color {
    color: black;
}

.highlighted-text {
    background-color: dodgerblue;
    color: white;
    margin-bottom: 20px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.regular-text {
    color: black;
}

.remove-decoration {
    text-decoration: none !important;
    background-color: transparent !important;
}

.global-font {
    font-family: "Georgia";
}

.image-size {
    width: 50px;
}

.search-bar {
    width: 30%;
    height: 20px;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.right-margin {
    margin-right: 15px;
}

.top-margin {
    margin-top: 10px;
}

.products-bottom-margin {
    margin-bottom: 50px;
}

.center {
    margin: auto;
}

.button-box {
    text-align: center;
    display: flex;
}

p {
    max-width: 500px;
}

.purchase, .quantity {
    float: left;
    width: 10% !important;
    min-width: 100px;
}

.purchase {
    margin: 0 auto 0 10px;
}

.quantity {
    margin: 0 10px 0 auto;
}

.input-fields {
    width: 20%;
}

.review-bottom-margin {
    margin-bottom: 60px;
}

.cart-list {
    border-bottom-width: 2px;
    border-bottom-color: lightblue;
    border-bottom-style: solid;
}

.related-products-right-margin {
    margin-right: 40px;
}